NODE_ENV=
APP_PORT=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_expiresIn=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_expiresIn=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
ENABLE_ORM_LOGS=
ENABLE_SYCHORIZE_DB=